/*h2 {
	text-align: left;
}
p {
    text-align: left !important;
}*/

h3 {
	font-size: 100px;
}

.row {
	margin-left: 23px !important;
	margin-right: 23px !important;
}

#leftalign {
	text-align: left !important;
	font-size: 17px !important;
}

@media (min-width: 1000px){ 
	#sixtysix {
		width: 66% !important;
	}
}

@media (min-width: 1000px){ 
	#sixtysix {
		width: 66% !important;
	}
	#help{
		margin-left: 140px;
		margin-right: 140px;
		margin-top: 50px;
		margin-bottom: 50px;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 90px; 
		padding-right: 90px;
	}
	#headerTop {
		padding-top: 70px;
	}
}