#home{
	margin-top: 5px !important;
	height: inherit !important;
}

.fa-user {
	color: grey;
}

.fa-angle-down {
	color: grey;
}

.fa-user:hover {
	color: white;
}

.fa-user:hover {
	color: white;
}

#patriclemargin{
	padding-top: 65px;
	height: 0;
	/*display: flex;*/
}

#particles{
/*	height: 120px;
	display: flex;*/
	/*min-width: 100vw;*/
	/*margin-left: -80px;*/
}

.fa-bars {
	color: grey !important;
	cursor: pointer;
}