#home{
	margin-top: 5px !important;
	height: inherit !important;
}

.fa-user {
	color: grey;
}

.fa-angle-down {
	color: grey;
}

.fa-angle-down:hover {
	color: #268bd2;
}

.fa-user:hover {
	color: #268bd2;
}

.fa-bars {
	color: grey !important;
	cursor: pointer;
}

.fa-bars:hover {
	color: #268bd2 !important;
}
