#home{
	margin-top: 5px !important;
	height: inherit !important;
}

.fa-user {
	color: white;
}

.fa-angle-down {
	color: white;
}

/*.fa-angle-down:hover {
	color: #268bd2;
}*/

.fa-user:hover {
	color: gray;
}

.fa-bars {
	color: white !important;
	cursor: pointer;
}

.fa-bars:hover {
	color: gray !important;
}

