@media (min-width: 623px){ 
	#links{
		float: right;
		/*position: absolute;*/
		right: 109px;
		text-align: right;
	}
	#twitter{
		padding-left: 24px;
	}
}
	

@media (max-width: 622px){ 
	#logo {
		float: left;
	}
	#links{
		text-align: left;
	}
	#twitter{
		padding-left: 19px;
	}
}


#logo {
	width: 40px;
	height: auto;
	padding-bottom: 13px;
	margin-right: 6vw;
}

#links{
	/*bottom: 0;*/
	font-size: 14px;
	float: right;
	position: absolute;
	right: 109px;
}

#twitter{
	display: inline-block;
	padding-bottom: 4px;
} 
