:local(.styles) {
  padding-top: 24px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #E0F2F1;
  color: black;
  position: absolute;
  /*bottom: 0;*/
  width: 100%;
  z-index: -1;
}
