/*.tsc-timeslot {
	margin: .1em !important;
	padding: .7em !important;
}

.tsc-day__title, .tsc-timeslot {

}*/

#paperCal {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Gets rid of "all day" row*/
.rbc-time-view .rbc-row {
    min-height: 0px !important;
}

.rbc-time-view .rbc-row div:nth-child(1) {
    height: 0px !important;
}

.rbc-time-header > .rbc-row:nth-of-type(2) {
    display: none !important;
}

@media (max-width: 1060px){ 
}

@media (min-width: 1060px){ 
	#calendarDiv {
		margin-left: 10%;
	    margin-right: 10%;
	}
}

#calendarDiv {
	margin-bottom: 35px;
}