/* global styles */
@import url(//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,cyrillic-ext);
/*@import 'typography';*/
/*@import 'links';*/

:global(body) {
  /*position: relative;*/
  font-family: 'Roboto', sans-serif !important;
  height: 100%;
  h1, h2, h3, h4 {
    font-weight: 300;
  }
 }


/*
 #section {
	height: -webkit-fill-available;
	height: -moz-available;
 }
*/

  
