body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:global(body) {
  position: relative;
}


html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#wrapper {
	min-height: 100%;
	position: relative;
	padding-bottom: 5em;
    box-sizing: border-box;
}

p {
	font-size: 16px;
}
