@import url('https://fonts.googleapis.com/css?family=Lora');

#answer{
	/*margin-left: 5px;*/
    margin-bottom: 40px;
    font-family: 'Lora', serif;
    line-height: 1.8;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

#cardStyle {
  display: block;
  transition-duration: 0.3s;
  height: auto;
  margin: auto;
  padding-top: 30px;
}

@media (max-width: 1060px){ 
	#pic {
    max-width: 80vw;
    margin: auto;
    
  }
  #profile {
    /*width: 80vw !important;*/
    margin: auto !important;
  }
}

@media (min-width: 1060px){ 
	#pic {
    max-width: 30vw;
    margin-left: 10%;
  }
}

#q {
	padding-left: 18px;
  font-size: 30px;
}

#unconfirmed {
  text-align: center;
}

.dropzone {
  margin: 0 auto;
  padding-top: 30px;
}


#qa{
  padding-top: 20px;
  padding-bottom: 20px;
}

#profile {
  padding-top: 30px;
  padding-bottom: 30px;
}

#pic {
  padding-top: 30px;
  width: fit-content;
}