@import url('https://fonts.googleapis.com/css?family=Lora');

#answer{
	/*margin-left: 5px;*/
    margin-bottom: 40px;
    font-family: 'Lora', serif;
    line-height: 1.8;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

#cardStyle {
  display: block;
  transition-duration: 0.3s;
  height: auto;
  margin: auto;
  padding-top: 30px;
}

@media (max-width: 1060px){ 
	#pic {
    /*max-width: 80vw;*/
    margin: auto;
  }
  #reviews {
    margin: auto;
  }
  #profile {
    width: auto !important;
    margin: auto !important;
  }
  #saveForLater {
    display: none;
  }
}

@media (min-width: 1060px){ 
	#pic {
    max-width: 30vw;
    margin-left: 10%;
  }
  #reviews {
    max-width: 30vw;
    padding-top: 20px;
  }
  #editSection {
    padding-left: 34px;
  }
  #editInputs {
    width: 82%;
    margin: 0 auto;
  }
  #meetExperts{
    width: 900px;
    margin: 0 auto;
  }
}

#meetExperts{
    margin-top: 40px;
  }

#q {
	padding-left: 18px;
  font-size: 30px;
}

#unconfirmed {
  text-align: center;
}

.dropzone {
  margin: 0 auto;
  padding-top: 40px;
}


#qa{
  padding-top: 20px;
  padding-bottom: 20px;
}

#profile {
  padding-top: 30px;
  padding-bottom: 30px;
}

#pic {
  padding-top: 30px;
  width: fit-content;
}

#editSection {
  margin-bottom: 40px;
}

#referralAccepted {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: green;
}

#noCode {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

#rating {
  margin-left: 17px;
  margin-top: -5px;
}

.fa-times-circle {
  color: red !important;
}

.fa-check{
  color: green !important;
}